{% extends 'base.html' %}

{% block title %}Eliminar Registro{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Bootstrap Card -->
            <div class="card">
                <div class="card-header bg-danger text-white text-center">
                    <h2>Eliminar Registro</h2>
                </div>
                <div class="card-body text-center">
                    <p class="mb-4">¿Estás seguro de que deseas eliminar este registro?</p>
                    
                    <!-- Formulario de eliminación -->
                    <form method="post">
                        {% csrf_token %}
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-danger mr-3">Eliminar</button>
                            <a href="{% url 'ver_datos_capacity_mes' record.fecha_extract_registro.year record.fecha_extract_registro.month %}" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
